* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: gainsboro;
    font-size: 16px;
}

.all {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: 83vh;
    font-size: 25px;
    overflow: scroll;
}


.card_container {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 600px;
    padding: 40px;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 32%;
    position: relative;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 90, 250, 0.05);
    padding: 15px;
    margin-bottom: 24px;
}


.card:nth-child(3n+1) {
    order: 1;
}

.card:nth-child(3n+2) {
    order: 2;
}

.card:nth-child(3n) {
    order: 3;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_container::before,
.card_container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 1;
}

.contact_info {
    display: flex;
    width: 30%;
    align-items: flex-start;
    flex-direction: row;
    background-color: gainsboro;
    justify-content: flex-start;
}

.photo-container {
    display: flex;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 36px;
}

.photo {
    width: 100%;
    height: auto;
    transition: 0.3s;
    border-radius: 50%;

}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.footer {
    background: gainsboro;
    color: black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    height: 17vh;
}

hr {
    border: none;
    background-color: black;
    height: 3px;
}

h3 {
    color: coral;
}

ul {
    box-sizing: border-box;
    margin-left: 24px;
    margin-top: 12px;
}

ul>li {
    font-size: 18px;
}